/* css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: black;
    font-weight: 600;
    padding-bottom: 20px;
}

.add-task {
    width: 50px;
    height: 40px;
}

.task-wrap {
    padding-top: 10px;
    width: 350px;
    margin: 0 auto;

}

#input {
    font-size: 17px;
    width: 300px;
    height: 40px;
    outline: none;
    border-radius: 4px;
    padding: 6px 12px;
}

#input:focus {
    border-color: #3879D9;
}

.task {
    font-size: 20px;
    font-weight: 600;
    float: left;
}


.new-check-box {
    width: 20px;
    height: 20px;
    border-radius: 20px solid black;
    float: right;

}

.done-true {
    text-decoration: line-through;
    color: grey;
}

.task-counts {
    font-size: 20px;
    font-weight: 600;
}